.body {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 80px;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

}

.header-mother-box {
    max-width: 90rem;
    min-height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;



}

.header-son-box {
    max-width: 73.125rem;
    min-height: 2.5rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo-box {
    max-width: 11.1875rem;
    min-height: 1.1875;
    border-radius: 6px;
}

.logo {
    object-fit: cover;
    /* width: 100%; */
    border-radius: 6px;
}

.navigation-box {
    max-width: 32.9375rem;
    min-height: 0.875rem;
    width: 100%;
}

.nav {
    width: 100%;
    min-height: 0.875rem;
    border-bottom: 1px solid black;
}

.ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 0.875rem;
}

.li {
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 1;
    color: #141A28;
    font-family: 'Nunito';
    border-radius: 6px;
    transition: all;
    transition-duration: 0.5s;
}

.li:hover {
    transform: scale(2.2);
    box-shadow: 10px 10px 30px;
}

.form-teg {
    display: flex;
    max-width: 18rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

}

.header-icon {
    max-width: 1.125rem;
    min-height: 1.125rem;
    transition: all;
    transition-duration: 0.3s;
}

.header-icon:hover {
    transform: scale(1.);
}

.icon-header {
    object-fit: cover;
    width: 100%;
}

.form.newform {
    display: block;
}

.form {
    display: none;
}
.input1 {   
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 15px;
}
.input2 {
    margin-top: 4px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: burlywood;
    box-shadow: 5px 5px 15px;
    transition: all;
    transition-duration: 0.2s;
}
.input2:hover {
    transform: scale(1.1);
}
.sing-in {
    border-radius: 40px;
    background-color: #53AA51;
    max-width: 5.875rem;
    height: 2.5rem;
    width: 100%;
    display: grid;
    place-items: center;
    transition: all;
    transition-duration: 0.5s;

}

.sing-in:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 30px;
}

.header-h3 {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-size: 12px;
    line-height: 16px;
}
.bar {
    max-width: 22px;
    height: 22px;
    display: none;
}
.burger-bar {
    width: 100%;
    object-fit: cover;
}
/* ! section 1  */
.box-image {
    max-width: 73.125rem;
    height: 18.75rem;
    margin: auto;
    width: 100%;
    background-color: #53AA51;
    border-radius: 10px;
    margin-top: 12px;
}

.image-baner {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ! section 2 */
.mother-box {
    max-width: 73.625rem;
    background-color: #53AA51;
    min-height: 36.375rem;
    margin: auto;
    width: 100%;
    margin-top: 64px;
    display: flex;
}

.left-box-mother {
    background-color: cornflowerblue;
    max-width: 34.75rem;
    min-height: 36.375rem;
    width: 100%;
}

.image-box2 {
    max-width: 34.75rem;
    height: 21.9375rem;
    background-color: black;
    border-radius: 10px;
}

.section-2-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.left-box-bottom {
    max-width: 34.75rem;
    height: 12.9375rem;
    background-color: chocolate;
    margin-top: 24px;
}

.section-2-h3 {
    font-size: 2.25rem;
    line-height: 2.875rem;
    color: #141A28;
    font-family: 'Nunito';
    max-width: 34.38rem;
    background-color: rgb(237, 100, 230);
    width: 100%;
}

.personal-info-box {
    max-width: 17.8125rem;
    height: 3rem;
    background-color: darkcyan;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-info {
    max-width: 3.9375rem;
    height: 3rem;
    transform: rotate(180);

}

.no-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: chocolate;
}

.section-2-pharagrap1 {
    background-color: #53AA51;
    color: #141A28;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 160%;

}

.section-2-pharagrap2 {
    background-color: blueviolet;
    color: #7E7F81;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 160%;
}

/* ! section 2 right box  */
/* .right-box-mother {
    display: grid;
    grid-template-columns:repeat( 20px);
    grid-template-rows:repeat(2, 150px);
    background-color: aqua;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    row-gap: 64px;
    column-gap: 10px;
} */

/* .right-box {
    max-width: 550px;
    width: 100%;
    height: 150px;
    background-color: blueviolet;
} */